h1 {
	background-color: #48C9B0;
	text-align: center;
	/**font-family: 'Indie Flower', cursive;*/
	font-family: 'Josefin Sans', sans-serif;
	padding-bottom: .4em;
	padding-top: .4em;

}

h2 {
	background-color: #A3E4D7;
	text-align: center;
	/**font-family: 'Indie Flower', cursive;*/
	font-family: 'Josefin Sans', sans-serif;
	padding-bottom: 0.2em;
	padding-top: 0.2em;
}



h3 {
	background-color: #D1F2EB;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	padding-bottom: 0.25em;
	padding-top: 0.25em;
}

p {
	margin-right: 20px;
	margin-left: 20px;
}
